---
layout: base
---
{% if page.cover %}
<div class="row">
{% img page.cover cover %}
</div>
{% endif %}
<div class="row">
<h2>{{ page.title }}</h2>
<div class="valign-wrapper">
<div class="author"><img src="{{ site.author_img | prepend: site.baseurl }}" class="circle responsive-img"></div> {% for category in page.categories %}<h5><a href="{{ category | prepend: '/categories/' | prepend: site.baseurl }}">{{ category }}</a>{% unless forloop.last%}, {% endunless %}{% endfor%} - {{ page.date | date: "%m/%d/%Y" }}</h5>
</div>
    {% for tag in page.tags %}
    {% if tag != site.sticky %}
    <a href="{{ tag | prepend: '/tags/' | prepend: site.baseurl }}"><div class="chip waves-effect waves-red">{{ tag }}</div></a>
    {% endif %}
    {% endfor %}
</div>
<div class="row">
{{ content }}
</div>

<div class="ds-thread" data-thread-key="page.id" data-title="page.title" data-url="page.url"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"zhangyouxin"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
